@{
    ViewData["Title"] = "Forbidden";
}


<body class="gray-bg" style="">


    <div class="middle-box text-center animated fadeInDown">
        <h2 class="h2">Access Interzis</h2>

        <div class="error-desc">
            Din pacate nu sunteti autorizat pentru a utiliza aceasta sectiune. Pentru mai multe detalii va rugam sa va adresati departamentului IT.<br>
            Va puteti intoarce la pagina principala: <br><a href="/" class="btn btn-primary m-t">Pagina principala</a>
        </div>
    </div>


</body>